# Archivo generado. Regenerar: cd builders && pnpm run openapi
openapi: 3.2.0
info:
  title: Skorify Backend API
  description: "API RESTful del backend de Skorify. Documento generado automaticamente desde el codigo (50 endpoints). Todas las respuestas son Domain Events: el handler responde HTTP 200 con { data, meta.code }, donde meta.code identifica el evento (exito o error de negocio)."
  version: 1.0.0
servers:
  - url: https://api.skorify.cloud-manizales.com
    description: Entorno PROD
  - url: https://api.skorify-dev.cloud-manizales.com
    description: Entorno DEV
  - url: http://localhost:9898
    description: Servidor local
tags:
  - name: Match
    description: Endpoints de Match (7)
  - name: Prediction
    description: Endpoints de Prediction (10)
  - name: Team
    description: Endpoints de Team (5)
  - name: Tournament
    description: Endpoints de Tournament (5)
  - name: Tournament Instance
    description: Endpoints de Tournament Instance (7)
  - name: User
    description: Endpoints de User (8)
  - name: User Enrollment
    description: Endpoints de User Enrollment (8)
security:
  - CognitoAuthorizer: []
paths:
  /match/calculate-match-score:
    post:
      tags:
        - Match
      summary: Calculate match score
      operationId: calculateMatchScore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                matchId:
                  type: string
                tournamentInstanceId:
                  type: string
              required:
                - matchId
                - tournamentInstanceId
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: CalculatedMatchDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:CalculatedMatchDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchAlreadyCalculatedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchAlreadyCalculatedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchDoesNotExistDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchDoesNotExistDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchHasNotFinishedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchHasNotFinishedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
        "500":
          description: Error no controlado
  /match/close-match:
    post:
      tags:
        - Match
      summary: Close match
      operationId: closeMatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                matchId:
                  type: string
                homeScore:
                  type: number
                awayScore:
                  type: number
              required:
                - matchId
                - homeScore
                - awayScore
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: ClosedMatchDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:ClosedMatchDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchAlreadyClosedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchAlreadyClosedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchDoesNotExistDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchDoesNotExistDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: NotEditedMatchDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:NotEditedMatchDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
        "500":
          description: Error no controlado
  /match/close-matches:
    post:
      tags:
        - Match
      summary: Close matches
      operationId: closeMatches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                matches:
                  type: array
                  items:
                    type: object
                    properties:
                      matchId:
                        type: string
                      homeScore:
                        type: number
                      awayScore:
                        type: number
                    required:
                      - matchId
                      - homeScore
                      - awayScore
              required:
                - matches
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: ClosedMatchesDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:ClosedMatchesDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: string
                    required:
                      - meta
        "500":
          description: Error no controlado
  /match/create-match:
    put:
      tags:
        - Match
      summary: Create match
      operationId: createMatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                homeTeamId:
                  type: string
                awayTeamId:
                  type: string
                tournamentId:
                  type: string
                kickOff:
                  type: string
                  format: date-time
                stage:
                  type: string
                  enum:
                    - group
                    - finals
                venue:
                  type: string
              required:
                - homeTeamId
                - awayTeamId
                - tournamentId
                - kickOff
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: EntityNotInstanciableDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:EntityNotInstanciableDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchAlreadyExistsInSameTournamentStageDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchAlreadyExistsInSameTournamentStageDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchNotSavedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchNotSavedDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchSavedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchSavedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchTeamDoesNotExistDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchTeamDoesNotExistDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchTeamIsTheSameDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchTeamIsTheSameDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: NotGottenTournamentDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:NotGottenTournamentDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
        "500":
          description: Error no controlado
  /match/edit-match:
    patch:
      tags:
        - Match
      summary: Edit match
      operationId: editMatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                matchId:
                  type: string
                awayTeamId:
                  type: string
                homeTeamId:
                  type: string
                date:
                  type: string
                  format: date-time
                status:
                  type: string
              required:
                - matchId
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenPredictionsByMatchDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:GottenPredictionsByMatchDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            deletedAt:
                              type: string
                              format: date-time
                            userId:
                              type: string
                            userEnrollmentId:
                              type: string
                            tournamentInstanceId:
                              type: string
                            matchId:
                              type: string
                            awayScore:
                              type: number
                            homeScore:
                              type: number
                            earnedPoints:
                              type: number
                            hasExactResult:
                              type: boolean
                            isCalculated:
                              type: boolean
                          required:
                            - id
                            - createdAt
                            - userId
                            - userEnrollmentId
                            - tournamentInstanceId
                            - matchId
                            - awayScore
                            - homeScore
                            - earnedPoints
                            - hasExactResult
                            - isCalculated
                    required:
                      - meta
                  - title: MatchCannotBeEditedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchCannotBeEditedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchCannotBeSavedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchCannotBeSavedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchCannotChangeTeamsDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchCannotChangeTeamsDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchDoesNotExistDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchDoesNotExistDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchEditedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchEditedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
        "500":
          description: Error no controlado
  /match/get-match-by-id:
    get:
      tags:
        - Match
      summary: Get match by id
      operationId: getMatchById
      parameters:
        - name: matchId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenMatchDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:GottenMatchDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          tournamentId:
                            type: string
                          awayTeamId:
                            type: string
                          homeTeamId:
                            type: string
                          kickOff:
                            type: string
                            format: date-time
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          stage:
                            type: string
                            enum:
                              - group
                              - finals
                          venue:
                            type: string
                        required:
                          - id
                          - createdAt
                          - tournamentId
                          - awayTeamId
                          - homeTeamId
                          - kickOff
                    required:
                      - meta
                  - title: MatchDoesNotExistDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:MatchDoesNotExistDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
        "500":
          description: Error no controlado
  /match/get-matches-by-tournament-id:
    get:
      tags:
        - Match
      summary: Get matches by tournament id
      operationId: getMatchesByTournamentId
      parameters:
        - name: tournamentId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenMatchesByTournamentDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Match:GottenMatchesByTournamentDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            match:
                              type: object
                              properties:
                                id:
                                  type: string
                                createdAt:
                                  type: string
                                  format: date-time
                                updatedAt:
                                  type: string
                                  format: date-time
                                deletedAt:
                                  type: string
                                  format: date-time
                                tournamentId:
                                  type: string
                                awayTeamId:
                                  type: string
                                homeTeamId:
                                  type: string
                                kickOff:
                                  type: string
                                  format: date-time
                                awayScore:
                                  type: number
                                homeScore:
                                  type: number
                                stage:
                                  type: string
                                  enum:
                                    - group
                                    - finals
                                venue:
                                  type: string
                              required:
                                - id
                                - createdAt
                                - tournamentId
                                - awayTeamId
                                - homeTeamId
                                - kickOff
                            awayTeam:
                              type: object
                              properties:
                                id:
                                  type: string
                                createdAt:
                                  type: string
                                  format: date-time
                                updatedAt:
                                  type: string
                                  format: date-time
                                deletedAt:
                                  type: string
                                  format: date-time
                                name:
                                  type: string
                                tournamentId:
                                  type: string
                                shieldUrl:
                                  type: string
                              required:
                                - id
                                - createdAt
                                - name
                                - tournamentId
                            homeTeam:
                              type: object
                              properties:
                                id:
                                  type: string
                                createdAt:
                                  type: string
                                  format: date-time
                                updatedAt:
                                  type: string
                                  format: date-time
                                deletedAt:
                                  type: string
                                  format: date-time
                                name:
                                  type: string
                                tournamentId:
                                  type: string
                                shieldUrl:
                                  type: string
                              required:
                                - id
                                - createdAt
                                - name
                                - tournamentId
                          required:
                            - match
                            - awayTeam
                            - homeTeam
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/check-match-can-bet:
    post:
      tags:
        - Prediction
      summary: Check match can bet
      operationId: checkMatchCanBet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                matchId:
                  type: string
              required:
                - matchId
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: MatchBetabilityCheckedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:MatchBetabilityCheckedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          canBet:
                            type: boolean
                        required:
                          - canBet
                    required:
                      - meta
                  - title: MatchDoesNotExistDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:MatchDoesNotExistDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/edit-prediction:
    patch:
      tags:
        - Prediction
      summary: Edit prediction
      operationId: editPrediction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                predictionId:
                  type: string
                awayScore:
                  type: number
                homeScore:
                  type: number
              required:
                - predictionId
                - awayScore
                - homeScore
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: NotEditedPredictionDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:NotEditedPredictionDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: NotGottenPredictionDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:NotGottenPredictionDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: PassedPredictionWindowDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:PassedPredictionWindowDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: PredictionEditedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:PredictionEditedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          userId:
                            type: string
                          userEnrollmentId:
                            type: string
                          tournamentInstanceId:
                            type: string
                          matchId:
                            type: string
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          earnedPoints:
                            type: number
                          hasExactResult:
                            type: boolean
                          isCalculated:
                            type: boolean
                        required:
                          - id
                          - createdAt
                          - userId
                          - userEnrollmentId
                          - tournamentInstanceId
                          - matchId
                          - awayScore
                          - homeScore
                          - earnedPoints
                          - hasExactResult
                          - isCalculated
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/edit-prediction-directly:
    patch:
      tags:
        - Prediction
      summary: Edit prediction directly
      operationId: editPredictionDirectly
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                predictionId:
                  type: string
                awayScore:
                  type: number
                homeScore:
                  type: number
                earnedPoints:
                  type: number
                hasExactResult:
                  type: boolean
              required:
                - predictionId
                - awayScore
                - homeScore
                - earnedPoints
                - hasExactResult
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: NotEditedPredictionDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:NotEditedPredictionDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: NotGottenPredictionDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:NotGottenPredictionDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: PredictionEditedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:PredictionEditedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          userId:
                            type: string
                          userEnrollmentId:
                            type: string
                          tournamentInstanceId:
                            type: string
                          matchId:
                            type: string
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          earnedPoints:
                            type: number
                          hasExactResult:
                            type: boolean
                          isCalculated:
                            type: boolean
                        required:
                          - id
                          - createdAt
                          - userId
                          - userEnrollmentId
                          - tournamentInstanceId
                          - matchId
                          - awayScore
                          - homeScore
                          - earnedPoints
                          - hasExactResult
                          - isCalculated
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/get-prediction-by-id:
    get:
      tags:
        - Prediction
      summary: Get prediction by id
      operationId: getPredictionById
      parameters:
        - name: predictionId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenPredictionDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:GottenPredictionDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          userId:
                            type: string
                          userEnrollmentId:
                            type: string
                          tournamentInstanceId:
                            type: string
                          matchId:
                            type: string
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          earnedPoints:
                            type: number
                          hasExactResult:
                            type: boolean
                          isCalculated:
                            type: boolean
                        required:
                          - id
                          - createdAt
                          - userId
                          - userEnrollmentId
                          - tournamentInstanceId
                          - matchId
                          - awayScore
                          - homeScore
                          - earnedPoints
                          - hasExactResult
                          - isCalculated
                    required:
                      - meta
                  - title: NotGottenPredictionDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:NotGottenPredictionDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/get-prediction-rules:
    get:
      tags:
        - Prediction
      summary: Get prediction rules
      operationId: getPredictionRules
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenPredictionRulesDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:GottenPredictionRulesDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          rules:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                score:
                                  type: number
                              required:
                                - name
                                - score
                          streakBonusRules:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: number
                                value:
                                  type: number
                              required:
                                - key
                                - value
                        required:
                          - rules
                          - streakBonusRules
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/get-predictions-by-match:
    get:
      tags:
        - Prediction
      summary: Get predictions by match
      operationId: getPredictionsByMatch
      parameters:
        - name: matchId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenPredictionsByMatchDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:GottenPredictionsByMatchDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            deletedAt:
                              type: string
                              format: date-time
                            userId:
                              type: string
                            userEnrollmentId:
                              type: string
                            tournamentInstanceId:
                              type: string
                            matchId:
                              type: string
                            awayScore:
                              type: number
                            homeScore:
                              type: number
                            earnedPoints:
                              type: number
                            hasExactResult:
                              type: boolean
                            isCalculated:
                              type: boolean
                          required:
                            - id
                            - createdAt
                            - userId
                            - userEnrollmentId
                            - tournamentInstanceId
                            - matchId
                            - awayScore
                            - homeScore
                            - earnedPoints
                            - hasExactResult
                            - isCalculated
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/get-predictions-by-match-and-tournament-instance:
    get:
      tags:
        - Prediction
      summary: Get predictions by match and tournament instance
      operationId: getPredictionsByMatchAndTournamentInstance
      parameters:
        - name: matchId
          in: query
          required: true
          schema:
            type: string
        - name: tournamentInstanceId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenPredictionsByMatchAndTournamentInstanceDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:GottenPredictionsByMatchAndTournamentInstanceDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            deletedAt:
                              type: string
                              format: date-time
                            userId:
                              type: string
                            userEnrollmentId:
                              type: string
                            tournamentInstanceId:
                              type: string
                            matchId:
                              type: string
                            awayScore:
                              type: number
                            homeScore:
                              type: number
                            earnedPoints:
                              type: number
                            hasExactResult:
                              type: boolean
                            isCalculated:
                              type: boolean
                          required:
                            - id
                            - createdAt
                            - userId
                            - userEnrollmentId
                            - tournamentInstanceId
                            - matchId
                            - awayScore
                            - homeScore
                            - earnedPoints
                            - hasExactResult
                            - isCalculated
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/get-predictions-by-user:
    get:
      tags:
        - Prediction
      summary: Get predictions by user
      operationId: getPredictionsByUser
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
        - name: tournamentInstanceId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenPredictionsByUserDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:GottenPredictionsByUserDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            deletedAt:
                              type: string
                              format: date-time
                            userId:
                              type: string
                            userEnrollmentId:
                              type: string
                            tournamentInstanceId:
                              type: string
                            matchId:
                              type: string
                            awayScore:
                              type: number
                            homeScore:
                              type: number
                            earnedPoints:
                              type: number
                            hasExactResult:
                              type: boolean
                            isCalculated:
                              type: boolean
                          required:
                            - id
                            - createdAt
                            - userId
                            - userEnrollmentId
                            - tournamentInstanceId
                            - matchId
                            - awayScore
                            - homeScore
                            - earnedPoints
                            - hasExactResult
                            - isCalculated
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/make-prediction:
    post:
      tags:
        - Prediction
      summary: Make prediction
      operationId: makePrediction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                tournamentInstanceId:
                  type: string
                matchId:
                  type: string
                awayScore:
                  type: number
                homeScore:
                  type: number
              required:
                - userId
                - tournamentInstanceId
                - matchId
                - awayScore
                - homeScore
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: EntityNotInstanciableDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:EntityNotInstanciableDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchCannotBeBetedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:MatchCannotBeBetedDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: MatchDoesNotExistDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:MatchDoesNotExistDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: NotGottenUserDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:NotGottenUserDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: PredictionCreatedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:PredictionCreatedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          userId:
                            type: string
                          userEnrollmentId:
                            type: string
                          tournamentInstanceId:
                            type: string
                          matchId:
                            type: string
                          awayScore:
                            type: number
                          homeScore:
                            type: number
                          earnedPoints:
                            type: number
                          hasExactResult:
                            type: boolean
                          isCalculated:
                            type: boolean
                        required:
                          - id
                          - createdAt
                          - userId
                          - userEnrollmentId
                          - tournamentInstanceId
                          - matchId
                          - awayScore
                          - homeScore
                          - earnedPoints
                          - hasExactResult
                          - isCalculated
                    required:
                      - meta
                  - title: PredictionNotCreatedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:PredictionNotCreatedDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: UserAlreadyPredictedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:UserAlreadyPredictedDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: UserIsNotInTournamentInstanceDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:UserIsNotInTournamentInstanceDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: UserNotActiveDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:UserNotActiveDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
        "500":
          description: Error no controlado
  /prediction/simulate-prediction:
    post:
      tags:
        - Prediction
      summary: Simulate prediction
      operationId: simulatePrediction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                predictionHomeScore:
                  type: number
                predictionAwayScore:
                  type: number
                matchHomeScore:
                  type: number
                matchAwayScore:
                  type: number
                streak:
                  type: number
              required:
                - predictionHomeScore
                - predictionAwayScore
                - matchHomeScore
                - matchAwayScore
                - streak
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: SimulatedPredictionDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Prediction:SimulatedPredictionDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          total:
                            type: number
                          breakdown:
                            type: array
                            items:
                              type: object
                              properties:
                                rule:
                                  type: string
                                points:
                                  type: number
                              required:
                                - rule
                                - points
                        required:
                          - total
                          - breakdown
                    required:
                      - meta
        "500":
          description: Error no controlado
  /team/create-team:
    put:
      tags:
        - Team
      summary: Create team
      operationId: createTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                tournamentId:
                  type: string
              required:
                - name
                - tournamentId
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: EntityNotInstanciableDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:EntityNotInstanciableDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: NotGottenTournamentDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:NotGottenTournamentDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: TeamNotSavedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:TeamNotSavedDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: TeamSavedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:TeamSavedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          name:
                            type: string
                          tournamentId:
                            type: string
                          shieldUrl:
                            type: string
                        required:
                          - id
                          - createdAt
                          - name
                          - tournamentId
                    required:
                      - meta
                  - title: TeamWithThatNameAlreadyExistsDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:TeamWithThatNameAlreadyExistsDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          name:
                            type: string
                          tournamentId:
                            type: string
                          shieldUrl:
                            type: string
                        required:
                          - id
                          - createdAt
                          - name
                          - tournamentId
                    required:
                      - meta
        "500":
          description: Error no controlado
  /team/edit-team:
    patch:
      tags:
        - Team
      summary: Edit team
      operationId: editTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                teamId:
                  type: string
                name:
                  type: string
              required:
                - teamId
                - name
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: NotGottenTeamDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:NotGottenTeamDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: TeamEditedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:TeamEditedDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          name:
                            type: string
                          tournamentId:
                            type: string
                          shieldUrl:
                            type: string
                        required:
                          - id
                          - createdAt
                          - name
                          - tournamentId
                    required:
                      - meta
                  - title: TeamNotEditedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:TeamNotEditedDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
        "500":
          description: Error no controlado
  /team/get-team-by-id:
    get:
      tags:
        - Team
      summary: Get team by id
      operationId: getTeamById
      parameters:
        - name: teamId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenTeamDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:GottenTeamDomainEvent
                        required:
                          - code
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          deletedAt:
                            type: string
                            format: date-time
                          name:
                            type: string
                          tournamentId:
                            type: string
                          shieldUrl:
                            type: string
                        required:
                          - id
                          - createdAt
                          - name
                          - tournamentId
                    required:
                      - meta
                  - title: NotGottenTeamDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:NotGottenTeamDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
        "500":
          description: Error no controlado
  /team/get-team-by-ids:
    get:
      tags:
        - Team
      summary: Get team by ids
      operationId: getTeamByIds
      parameters:
        - name: teamIds
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenTeamsDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:GottenTeamsDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            deletedAt:
                              type: string
                              format: date-time
                            name:
                              type: string
                            tournamentId:
                              type: string
                            shieldUrl:
                              type: string
                          required:
                            - id
                            - createdAt
                            - name
                            - tournamentId
                    required:
                      - meta
        "500":
          description: Error no controlado
  /team/get-teams-by-query:
    get:
      tags:
        - Team
      summary: Get teams by query
      operationId: getTeamsByQuery
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: GottenTeamsDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - Team:GottenTeamsDomainEvent
                        required:
                          - code
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            deletedAt:
                              type: string
                              format: date-time
                            name:
                              type: string
                            tournamentId:
                              type: string
                            shieldUrl:
                              type: string
                          required:
                            - id
                            - createdAt
                            - name
                            - tournamentId
                    required:
                      - meta
        "500":
          description: Error no controlado
  /tournament-instance/create-tournament-instance:
    put:
      tags:
        - Tournament Instance
      summary: Create tournament instance
      operationId: createTournamentInstance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tournamentId:
                  type: string
                ownerId:
                  type: string
                name:
                  type: string
              required:
                - tournamentId
                - ownerId
                - name
      responses:
        "200":
          description: Domain Event. El tipo va en meta.code y el payload en data.
          content:
            application/json:
              schema:
                oneOf:
                  - title: EntityNotInstanciableDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - TournamentInstance:EntityNotInstanciableDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: NotGottenUserDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - TournamentInstance:NotGottenUserDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
                  - title: TournamentInstanceNotSavedDomainEvent
                    type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - TournamentInstance:TournamentInstanceNotSavedDomainEvent
                        required:
                          - code
                      data: {}
                    required:
                      - meta
[...]
